/*body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #666666;
    font-weight: 600;
}

.input-field {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #f9f9f9;
    color: #333333;
}

.login-btn {
    background-color: #4CAF50;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .login-btn:hover {
        background-color: #45a049;
    }


*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    width:100%;
}

h1 {
    color: #0080ff;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 300px;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #0080ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

    button:hover {
        background-color: #0059b3;
    }

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color:royalblue;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e6e6e6;
}

button{
    background-color:Highlight;
}

.center-header {
    text-align: center;
}

.machine_th {
    background-color: yellow;
}

